.Wrapper {
  background: linear-gradient(to bottom,
          rgba(255, 255, 255, 0.1),
          rgba(255, 255, 255, 0.3),
          rgba(255, 255, 255, 0.1));
  position: relative;
  transition: all 0.3s ease;
  border: 3px solid;
}
